{% extends 'base.html' %}
{% block title %}Django - Vue - MySQL{% endblock %}

{% block extra-style %}
    <style>
        body {
            text-align: center;
            background-color: #ddd;
        }
        .user_row:hover{
            background-color:#fefefe;
        }
        .removeBtn {
            margin-left: auto;
            font-size: 20px;
        }
        .removeBtn:hover{
            color: red;
        }

        i:hover{
            cursor: pointer;
        }
    </style>
{% endblock %}

{% block content %}
<div id='app'>

    <br>
    <h1>게임 유저 검색</h1>
    <br>

    <div class="input-group mb-3">
      <input type="text" class="form-control" placeholder="ID" v-model.trim="user_id"
          v-on:keyup.enter="search_user(user_id)">
      <button class="btn btn-outline-secondary" v-on:click="search_user(user_id)">search</button>
    </div>

    <br>
    <h3>
        검색 결과
        <span v-on:click="search_user(user_id)">
            <i class="fas fa-redo"></i>
        </span>
    </h3>
    <br>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Created at</th>
          <th scope="col">Gold</th>
          <th scope="col">Level</th>
          <th scope="col">Inventory</th>
        </tr>
      </thead>
      <tbody>
        <tr class="user_row" v-on:click="detail_user(user_id)">
          <th scope="row">[[ user_info.user_id ]]</th>
          <td>[[ user_info.name ]]</td>
          <td>[[ user_info.created_at ]]</td>
          <td>[[ user_info.gold ]]</td>
          <td>[[ user_info.level ]]</td>
          <td>[[ user_info.inventory ]]</td>
          <td></td>
        </tr>
      </tbody>
    </table>

    <table class="table table-dark" v-show="detail_show">
      <thead class="thead-dark">
        <tr>
          <th scope="col">이름</th>
          <th scope="col">값</th>
          <th scope="col">액션</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"> gold </th>
          <td><input type="text" class="form-control" v-model.trim="gold"></td>
          <td><button class="btn btn-info btn-sm" v-on:click="update_data('gold', gold)">수정</button></td>
        </tr>
        <tr>
          <th scope="row"> level </th>
          <td><input type="text" class="form-control" v-model.trim="level"></td>
          <td><button class="btn btn-info btn-sm" v-on:click="update_data('level', level)">수정</button></td>
        </tr>
        <tr>
          <th scope="row"> inventory </th>
          <td><input type="text" class="form-control" v-model.trim="inventory"></td>
          <td><button class="btn btn-info btn-sm" v-on:click="update_data('inventory', inventory)">수정</button></td>
        </tr>
      </tbody>
    </table>
    <button type="button" class="btn btn-danger" v-show="detail_show" v-on:click="delete_data(user_id)">제재</button>
</div>
{% endblock %}

{% block extra-script %}
<script src="https://unpkg.com/vue/dist/vue.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script>

    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    var vm = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
            user_id: '',
            user_info: {},
            detail_show: false,
            gold: '',
            level: '',
            inventory: [],
        },
        methods: {
            search_user: function(user_id){
              console.log("search_user()...");
              if (user_id == '') return;

              var vm = this;
              axios.get('/users/ids/'+ user_id + '/')
                  .then(function(res){
                    console.log("SEARCH GET RES", res);
                    vm.user_info = res.data;
                  })
                  .catch(function(err){
                    console.log("SEARCH ERR", err);
                  })
            },
            detail_user:function(user_id){

              if (this.user_info["user_id"] == undefined) return;

              if (this.detail_show == false){
                this.detail_show = true;
              }
              else{
                this.detail_show = false;
              }
            },

            update_data:function(k, v){
              console.log("UPDATE ", k, v);
              if (confirm("수정하시겠습니까?") == false) return;

              var vm = this;
              var postData = {[k] : v};
              console.log(postData);
              axios.post('/users/ids/' + this.user_info['user_id'] + '/', postData)
                  .then(function(res){
                    console.log("UPDATE POST RES", res);
                    vm.search_user(vm.user_info["user_id"]);
                  })
                  .catch(function(err){
                    console.log("UPDATE POST ERR", err);
                  })
              this.v = '';
              this.gold = '';
              this.level = '';
              this.inventory = '';

            },

            delete_data:function(user_id){
              console.log("delete_data()...");
              if (confirm("삭제하시겠습니까?") == false) return;

              var vm = this;
              axios.delete('/users/ids/ban/' + this.user_info['user_id'] + '/')
                  .then(function(res){
                    console.log("DELETE RES", res);
                    vm.search_user(vm.user_info["user_id"]);
                    vm.detail_show = false;
                  })
                  .catch(function(err){
                    console.log("DELETE ERR", err);
                  })

            },
        },

    })
</script>
{% endblock %}
